.container{
   background-color: #ffffff;
   border: rgba(232, 173, 240, 0.73) 1px solid;
   
   margin: 0 auto;
   width: 901px;
   height: 1300px;
   display: grid;
    grid-template-columns: auto auto;
}
.name{
    width: 900px;
    position:absolute;
}
.container-hc{
    width: 450px;
    position: absolute;
    margin-top: 310px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.container-hc2{
    width: 430px;
    position: absolute;
    margin-top: 209px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 450px;
}
.last-name{
    color:#844E86 ;
    font-size: 51px;
    text-align: center;
}
.carreer{
    /* margin-top: 200px; */
    font-size: 30px;
    text-align: center;
    font-style: bold;
    font-style: italic;
}
.title{
   
    color:#844E86 ;
    font-size: 32px;
    text-align: center;
    background: #F8D8DB;
    width: 430px;
    margin-top: -2px;

}
.icon{
    width: 50px;
}
.icon2{
    width: 30px;
}
.grid-item {
    font-size: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: self-end;;
    width: 350px;
    justify-content: inherit;
  }
.image-profile{
    position:absolute;
    z-index: 1;
    width: 200px;
    border-radius: 50%;
    margin: 110px;
}
.lvl{
    
    width: 350px;
    justify-content: end;
}
.info{
    font-size: 18px;
    margin-top: -1px;
}
.info2{
    font-size: 20px;
    font-style: italic;margin-top: -1px;
    
}
.language{
    width: 350px;
    justify-content: end;
    margin-left: 55px;
}

